In [130]:
import pandas as pd

In [131]:
real_gdp_df = pd.read_csv("../../dane/real_GDP_per_capita.csv")

In [132]:
real_gdp_df_1 = real_gdp_df.drop(["EA20: Euro Area (the 20 countries using the euro)", "EU27_2020: European Union 27 countries (after Brexit, excluding the UK)"], axis=1)

In [133]:
real_gdp_df_1.columns = [header.lower() for header in real_gdp_df_1.columns ]
real_gdp_df_1.head()

,#,year,austria,belgium,bulgaria,cyprus,czech republic,germany,denmark,estonia,...,luxembourg,latvia,malta,netherlands,poland,portugal,romania,sweden,slovenia,slovakia
0,1,1995,30290,28400,3630,17530,10320,28960,39110,6410,...,67360,4200,0,30570,5150,14250,4120,31610,11980,6990
1,2,1996,30920,28720,3840,17470,10770,29210,39990,6840,...,67480,4350,0,31470,5460,14700,4300,32100,12320,7400
2,3,1997,31540,29740,3320,17680,10720,29730,41080,7830,...,70230,4790,0,32640,5810,15270,4100,33070,12980,7790
3,4,1998,32610,30260,3460,18530,10690,30380,41900,8250,...,73970,5160,0,33940,6080,15930,4020,34460,13400,8080
4,5,1999,33770,31250,3190,19240,10850,31040,43000,8300,...,78880,5340,0,35420,6370,16460,4020,35880,14100,8040

In [134]:
real_gdp_df_1.head()

,#,year,austria,belgium,bulgaria,cyprus,czech republic,germany,denmark,estonia,...,luxembourg,latvia,malta,netherlands,poland,portugal,romania,sweden,slovenia,slovakia
0,1,1995,30290,28400,3630,17530,10320,28960,39110,6410,...,67360,4200,0,30570,5150,14250,4120,31610,11980,6990
1,2,1996,30920,28720,3840,17470,10770,29210,39990,6840,...,67480,4350,0,31470,5460,14700,4300,32100,12320,7400
2,3,1997,31540,29740,3320,17680,10720,29730,41080,7830,...,70230,4790,0,32640,5810,15270,4100,33070,12980,7790
3,4,1998,32610,30260,3460,18530,10690,30380,41900,8250,...,73970,5160,0,33940,6080,15930,4020,34460,13400,8080
4,5,1999,33770,31250,3190,19240,10850,31040,43000,8300,...,78880,5340,0,35420,6370,16460,4020,35880,14100,8040

In [135]:
real_gdp_df_2 = real_gdp_df_1.drop("#", axis=1)
real_gdp_df_transposed = real_gdp_df_2.transpose()
real_gdp_df_transposed.columns  = real_gdp_df_transposed.iloc[0]
real_gdp_df_transposed = real_gdp_df_transposed[1:]
real_gdp_df_transposed

year,1995,1996,1997,1998,1999,2000,2001,2002,2003,2004,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
austria,30290,30920,31540,32610,33770,34760,35090,35430,35680,36360,...,39520,39640,39970,40620,41430,41970,39140,40860,42540,41770
belgium,28400,28720,29740,30260,31250,32340,32580,32990,33190,34230,...,36530,36860,37110,37510,38040,38760,36740,38860,40180,40370
bulgaria,3630,3840,3320,3460,3190,3350,3600,3830,4050,4340,...,6260,6560,6840,7130,7410,7800,7620,8270,8660,8850
cyprus,17530,17470,17680,18530,19240,20180,20750,21270,21570,22350,...,20350,21220,22460,23530,24700,25800,24690,27240,28860,29150
czech republic,10320,10770,10720,10690,10850,11290,11680,11880,12270,12850,...,15470,16230,16640,17490,17960,18570,17670,18380,18450,18230
germany,28960,29210,29730,30380,31040,31920,32420,32320,32160,32570,...,37480,37770,38330,39220,39540,39840,38180,39570,39820,39380
denmark,39110,39990,41080,41900,43000,44450,44710,44770,44850,45980,...,47240,47900,48970,50150,50830,51500,50470,53970,54310,55280
estonia,6410,6840,7830,8250,8300,8990,9580,10310,11160,12000,...,15680,16000,16460,17390,17990,18580,17990,19260,19240,18200
greece,14290,14430,14870,15300,15650,16230,16890,17620,18600,19550,...,16140,16210,16270,16540,16920,17320,15760,17220,18310,18800
spain,18220,18620,19210,19960,20750,21730,22470,22720,22960,23310,...,22500,23440,24100,24750,25230,25520,22610,24120,25380,25730
finland,26940,27840,29530,31060,32340,34130,34960,35460,36090,37420,...,38300,38350,39230,40430,40860,41370,40270,41290,41770,41140
france,26540,26820,27400,28250,29060,30060,30410,30520,30600,31250,...,32990,33200,33360,33920,34320,34880,32170,34260,35040,35260
croatia,6520,7010,7480,7650,7620,7920,8490,8970,9470,9860,...,10500,10810,11280,11770,12230,12940,11970,13580,14580,14970
hungary,6940,6960,7180,7480,7730,8090,8440,8860,9240,9720,...,11070,11520,11850,12380,13100,13780,13210,14210,14860,14740
ireland,25900,27620,30350,32560,35600,38440,39860,41480,42030,44110,...,47010,58040,58050,62970,66760,69040,73000,83910,89250,82780
italy,26510,26850,27360,27840,28310,29390,29960,29980,29840,30060,...,27330,27620,28010,28510,28810,29000,26560,29080,30500,30720
lithuania,4440,4700,5120,5550,5520,5750,6180,6650,7410,7980,...,12400,12860,13360,14150,14970,15710,15720,16740,17020,16840
luxembourg,67360,67480,70230,73970,78880,83270,84880,86680,87840,90310,...,94820,95090,97300,96460,95740,96520,94180,99360,98560,95660
latvia,4200,4350,4790,5160,5340,5710,6160,6710,7340,8070,...,11470,12010,12430,12970,13630,13820,13430,14480,14730,15020
malta,0,0,0,0,0,15640,15250,15550,16020,15970,...,21490,23000,23400,25710,26600,26570,25150,28320,28770,29500
netherlands,30570,31470,32640,33940,35420,36650,37220,37080,36940,37550,...,40600,41270,42050,42970,43680,44390,42440,44870,46670,46240
poland,5150,5460,5810,6080,6370,6670,6750,6880,7130,7500,...,10900,11390,11740,12340,13120,13720,13720,14750,15190,15280
portugal,14250,14700,15270,15930,16460,16960,17170,17210,16990,17250,...,16950,17280,17670,18280,18830,19310,17680,18620,19800,20090
romania,4120,4300,4100,4020,4020,4120,4340,4740,4880,5410,...,7800,8090,8370,9100,9720,10140,9820,10450,10910,11170
sweden,31610,32100,33070,34460,35880,37480,37880,38620,39210,40680,...,44690,46170,46700,46880,47220,47910,46640,49110,49300,48850
slovenia,11980,12320,12980,13400,14100,14550,14940,15410,15890,16600,...,18230,18660,19210,20190,21010,21570,20560,22230,22810,23170
slovakia,6990,7400,7790,8080,8040,8090,8360,8730,9150,9640,...,14100,14820,15090,15500,16110,16450,16010,16980,17010,17240

In [136]:
real_gdp_df.describe()

,#,year,Austria,Belgium,Bulgaria,Cyprus,Czech Republic,Germany,Denmark,EA20: Euro Area (the 20 countries using the euro),...,Luxembourg,Latvia,Malta,Netherlands,Poland,Portugal,Romania,Sweden,Slovenia,Slovakia
count,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,...,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000,29.000000
mean,15.000000,2009.000000,37724.827586,35096.551724,5593.793103,22523.793103,14560.689655,35088.965517,47065.172414,29970.000000,...,90158.275862,9829.655172,17255.517241,39527.241379,9658.620690,17376.206897,6963.448276,42247.586207,17773.793103,12227.241379
std,8.514693,8.514693,3447.035601,3224.204526,1743.916802,3066.614482,2742.175793,3528.189889,4023.548204,2567.838168,...,9738.415121,3418.064911,9110.358150,4134.497634,3105.647763,1313.491568,2316.543416,5242.584324,3121.623220,3406.033404
min,1.000000,1995.000000,30290.000000,28400.000000,3190.000000,17470.000000,10320.000000,28960.000000,39110.000000,24610.000000,...,67360.000000,4200.000000,0.000000,30570.000000,5150.000000,14250.000000,4020.000000,31610.000000,11980.000000,6990.000000
25%,8.000000,2002.000000,35430.000000,32990.000000,3840.000000,20490.000000,11880.000000,32320.000000,44770.000000,28640.000000,...,86680.000000,6710.000000,15640.000000,37080.000000,6880.000000,16950.000000,4740.000000,38620.000000,15410.000000,8730.000000
50%,15.000000,2009.000000,39140.000000,36060.000000,5690.000000,22460.000000,15130.000000,35360.000000,46890.000000,30280.000000,...,94600.000000,10370.000000,18080.000000,40230.000000,9330.000000,17350.000000,7140.000000,43680.000000,18230.000000,13000.000000
75%,22.000000,2016.000000,39870.000000,36860.000000,6840.000000,24480.000000,16640.000000,38180.000000,48970.000000,31220.000000,...,95920.000000,12430.000000,23400.000000,42050.000000,11740.000000,18010.000000,8370.000000,46640.000000,19980.000000,15090.000000
max,29.000000,2023.000000,42540.000000,40370.000000,8850.000000,29150.000000,18570.000000,39840.000000,55280.000000,34190.000000,...,101170.000000,15020.000000,29500.000000,46670.000000,15280.000000,20090.000000,11170.000000,49300.000000,23170.000000,17240.000000